<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="style.css">
	<title>mot de passe</title>
</head>
<body>
	

	<form method="post" id="login" action="test.php">
		
		<fieldset>
			<legend>connexions</legend>
			<label for="login">LOGIN : </label>
				<input type="text" name="login" placeholder="login"></p>
			<label for="password">MOT DE PASSE : </label>
				<input type="password" name="mdp" placeholder="password"></p>
			<p><input type="submit" name="submit"></p>
		</div>
	</form>
	</fieldset>


</body>
</html>