<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>CV Salem Gabriel</title>
</head>
<body>
	<center><h1>SALEM Gabriel</h1></center>
	<p><u><h3>Informations personnelles</h3></u></p>
	<table>
		<tr>
			<td>Numéro de Téléphone: </td>
			<td>06 11 86 30 38</td>
		</tr>
		<tr>
			<td>Adresse Mail: </td>
			<td>gabrielsalem113@yahoo.com</td>
		</tr>
			<td>Adresse Postale: </td>
			<td>3 rue abbé agasse<br>14740 St Manvieu-Norrey</td>
	</table>
	<br>
	<p><u><h3>Profil</h3></u></p>
	<p>Je m'appelle Gabriel Salem et me suis tourné vers vous pour vivre mes semaines de stage.</p>
	<p>Actuellement en BTS dans une formation SIO, je me suis tourné vers votre entreprise pour pouvoir appliquer ce que j'ai appris durant cette année.</p>
	<p>Je suis une personne sérieuse, patiente et à tendance perfectionniste.</p>
	<p>En espérant vous revoir pour un entretien.</p>
	<br>
	<p><u><h3>Expérience professionelle</h3></u></p>
	<ul>
		<li>Agent d'entretien dans l'établissement scolaire St Joseph de 1 semaine à 1 mois durant les mois de juin de 2018 à 2021.<br>Missions:</li>
		<ul>
			<li>Peintures diverses (bancs, armoires, marquages au sol, garde-fous)</li>
			<li>Déplacements de charges lourdes (tables, armoires, livraisons, tableaux)</li>
			<li>Réparations de matériels (tables, armoires, étagères, portes)</li>
			<li>Nettoyages extérieurs (mousses, lichens, gouttières, fientes d'oiseaux, plantes invasives)</li>
		</ul>
		<br>
		<li>Animateur de stages de centre aéré en autonomie durant les 3 premières semaines de aout 2021 à TANDEM.<br>Missions:</li>
		<ul>
			<li>Gestion des déplacements des jeunes en transport en commun et à pieds</li>
			<li>Proposition d'activités adaptées</li>
			<li>Gestion des tensions entre les jeunes</li>
		</ul>
		<li>Stages de 1 semaine au GANIL en 2015 et 2016.<br>Missions:</li>
		<ul>
			<li>Mesures de demi-vie d'éléments radioactifs</li>
			<li>Etudes de mesures de décroissance radioactive d'autres laboratoires étrangers</li>
		</ul>
		<li>Chef scout auprès de jeunes de 8 à 11ans depuis 2018.<br>Missions:</li>
		<ul>
			<li>Gestion des comptes par la mission de trésorier</li>
			<li>Proposition d'activités adaptées</li>
			<li>Mise en place d'un travail d'équipe</li>
			<li>Mise en place d'un calendrier</li>
		</ul>
		<li>Stage de 1 semaine dans les bureaux administratifs du Dome de Caen<br>Missions:</li>
		<ul>
			<li>Observation de la mise en place de la "Fête de la science"</li>
			<li>Observation de la gestion de la location de la salle pour des évènements</li>
			<li>Utilisation et proposition d'aide au FabLab</li>
		</ul>
	</ul>
	<p><u><h3>Formations</h3></u></p>
	<ul>
		<li>BAC général S option ISN 2019</li>
		<li>Brevet des collèges 2015</li>
		<li>Diplôme du BAFA</li>
	</ul>
	<p><u><h3>Compétences</h3></u></p>
</body>
</html>